{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ event.Name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.Description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ event.Date ? event.Date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ event.Image }}</td>
            </tr>
            <tr>
                <th>UserLimit</th>
                <td>{{ event.UserLimit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_event_index') }}">back to list</a>

    <a href="{{ path('admin_event_edit', {'id': event.id}) }}">edit</a>

    {{ include('admin_event/_delete_form.html.twig') }}
{% endblock %}
