{% extends 'layout.html.twig' %}

{% block title %}Into The Wild | Évènements
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <section class="d-flex justify-content-center">
        <div class="row text-center">
            <h1 class="title my-5">ÉVÈNEMENTS</h1>
            <h2 class="sub-title my-5">LIBÈRE TON CÔTÉ SAUVAGE AUPRÈS DE</br>PASSIONNÉS DE JEUX VIDÉO</h2>
    </div>
</section>
<section>
    {% for event in events %}
        <div class="accordion m-5" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="sub-title accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        <h2 class="sub-title">{{ event.Name }}
                            organisé le
                            {{ event.Date ? event.Date|date('d-m-Y à H:i') : '' }}</h2>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show container" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body row row-cols-3 sub-sub-title text-center align-items-center">
                        <div class="col-md-4 col-12">
                            Description de l'évènement:
                            {{ event.Description }}
                        </div>
                        <div class="col-md-4 col-12">
                            <img class="menu-img my-5" src="{{ vich_uploader_asset(event) }}" alt="{{ event.Image }}">
                        </div>
                        <div class="col-md-4 col-12">
                            <div>
                                <!-- Button trigger modal -->
                                {% if app.user %}
                                    <button type="button" class="btn btn-dark my-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <h3 class="sub-sub-title">S'inscrire à l'évènement !</h3>
                                    </button>
                                {% else %}
                                    <a href="{{ path('app_login') }}" class="btn btn-dark my-5">
                                        <h3 class="sub-sub-title">S'inscrire à l'évènement !</h3>
                                    </a>
                                {% endif %}
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Inscription pour
                                                {{ event.name }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Tu souhaites t'inscrire à l'évènement
                                            {{ event.name }}
                                            et botter des fesses ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">En fait non...</button>
                                            <button type="button" class="btn btn-primary">Oui !</button>
                                            {# {{ form_start(form) }}
                                            {{ form_widget(form) }}
                                            <button class="btn btn-dark mt-4">
                                                <h2 class="sub-sub-title">{{ button_label|default('Enregistrer') }}</h2>
                                            </button>
                                            {{ form_end(form) }} #}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            Nombre de place restante:
                            {{ event.UserLimit }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>Aucun évènement enregistré</p>
    {% endfor %}
</section>{% endblock %}
