{% extends 'layout.html.twig' %}

{% block title %}Into The Wild | Évènements
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <section class="d-flex justify-content-center">
        <div class="row text-center">
            <h1 class="title my-5">ÉVÈNEMENTS</h1>
            <h2 class="sub-title my-5">LIBÈRE TON CÔTÉ SAUVAGE AUPRÈS DE</br>PASSIONNÉS DE JEUX VIDÉO</h2>
        </div>
    </section>
    <section>
    {% for event in events %}
        <div class="accordion m-5" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="sub-title accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        <h2 class="sub-title">{{ event.Name }} organisé le {{ event.Date ? event.Date|date('d-m-Y à H:i') : '' }}</h2>
                    </button>
                </h2>
                
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body sub-sub-title"> 
                        Description de l'évènement: {{ event.Description }}
                        {{ event.Image }}
                        </br>Nombre limite de participant: {{ event.UserLimit }}
                        <a class="btn btn-dark"><h3 class="sub-sub-title">S'inscrire à l'évènement !</h3></a>
                    </div>
                </div>
                {% else %}
                        <p>Aucun évènement enregistré</p>
               
            </div>
        </div>
    {% endfor %}
    </section> 
    
{% endblock %}
