{% extends 'layout.html.twig' %}

{% block title %}Into The Wild | Menu
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <section class="d-flex justify-content-center">
        <div class="row text-center">
            <h1 class="title my-5">MENU</h1>
            <h2 class="sub-title my-5">LIBÈRE TON CÔTÉ SAUVAGE AUPRÈS DE</br>PASSIONNÉS DE JEUX VIDÉO</h2>
    </div>
</section>
<section class="container">
    <div class="row text-center justify-content-center m-5">
        {% for menu in menus %}
            <div class="menu col-3">
                <img class="menu-img" src="{{ vich_uploader_asset(menu) }}" alt="{{ menu.Image }}">
            </div>
            <div class="menu col-4 d-flex align-items-center justify-content-center sub-title">
                <p class="menu-name">{{ menu.Name }}</p>
            </div>
            <div class="menu col-4 d-flex align-items-center justify-content-center sub-sub-title">
                <p class="menu-description">{{ menu.Description }}</p>
            </div>
            <div class="menu col-1 d-flex align-items-center justify-content-center sub-sub-title">
                <p>{{ menu.price }}€</p>
            </div>
        {% else %}
            <p>Aucun menu enregistré</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
